.box {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.size {
  width: 200px;
  height: 200px;
}

.veryInner {
  width: 50px;
  height: 50px;
  background-color: beige;
}

.inner {
  background-color: cadetblue;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.inner2 {
  background-color: blue;
}

.inner3 {
  background-color: yellow;
}
